OPTION,  TFS=FALSE;
OPTION, ECHO=FALSE;
OPTION, INFO=FALSE;

TITLE, string="OPAL-ASTRA comparison";

USE_ET = _USEET_;

IF (USE_ET > 0) {
 OPTION, AUTOPHASE=0;
 OPTION, PSDUMPFREQ=1000000;
 CTF3phi    = ( 117.859/180.0*PI);
 FINSB01phi = ( 115.457/180.0*PI);
 FINSB02phi = ( 114.512/180.0*PI);
}
else {
 OPTION, AUTOPHASE=4;
 OPTION, PSDUMPFREQ=_H5PSFQ_;
 CTF3phi    = (_CTF3phi_/180.0*PI);
 FINSB01phi = (_FINSB01phi_/180.0*PI);	
 FINSB02phi = (_FINSB02phi_/180.0*PI);
}

TWDS             = 0.05;       // shift of tw cavity for astra compatibility
QB               = _QBUNCH_;
BFREQ            = _FREQ_;
BCURRENT         = QB*BFREQ;
MINSTEPFORREBIN  = 1000;


CTF3: RFCAVITY, L = 0.34986, VOLT = 100., FMAPFN = "CTF3-new-opal.dat",
		ELEMEDGE = 0.0, TYPE = "STANDING", FREQ = _FREQ_, 
		LAG = CTF3phi;

FINLB01_MSL: SOLENOID, L = 0.6, KS = _FINLB01ks_, FMAPFN = "GUNSOL.T7", ELEMEDGE = 0.0;

FINSB01_RAC: TRAVELINGWAVE, L = 1.4, VOLT = 19.0, FMAPFN = "FINSB01-RACC.T7",
			    ELEMEDGE = 2.95+TWDS, NUMCELLS = 121, MODE = 1/3, 
                            ACCURACY = 39, FREQ = _FREQ_, 
			    LAG = FINSB01phi;

FINSB01_MSL10: SOLENOID, L = 0.6, KS = 0.08, FMAPFN = "GUNSOL.T7", ELEMEDGE = 3.0;
FINSB01_MSL20: SOLENOID, L = 0.6, KS = 0.08, FMAPFN = "GUNSOL.T7", ELEMEDGE = 4.0;
FINSB01_MSL30: SOLENOID, L = 0.6, KS = 0.12, FMAPFN = "GUNSOL.T7", ELEMEDGE = 5.0;
FINSB01_MSL40: SOLENOID, L = 0.6, KS = 0.12, FMAPFN = "GUNSOL.T7", ELEMEDGE = 6.0;

FINSB02_RAC: TRAVELINGWAVE, L = 1.4, VOLT = 22.0, FMAPFN = "FINSB01-RACC.T7",
			    ELEMEDGE = 7.95+TWDS, NUMCELLS = 121, MODE = 1/3, 
                            ACCURACY = 39, FREQ = _FREQ_, 
			    LAG = FINSB02phi;

FINSB02_MSL10: SOLENOID, L = 0.6, KS = 0.068, FMAPFN = "GUNSOL.T7", ELEMEDGE = 8.0;
FINSB02_MSL20: SOLENOID, L = 0.6, KS = 0.068, FMAPFN = "GUNSOL.T7", ELEMEDGE = 9.0;
FINSB02_MSL30: SOLENOID, L = 0.6, KS = 0.068, FMAPFN = "GUNSOL.T7", ELEMEDGE = 10.0;
FINSB02_MSL40: SOLENOID, L = 0.6, KS = 0.068, FMAPFN = "GUNSOL.T7", ELEMEDGE = 11.0;

l1: LINE = (CTF3,FINLB01_MSL,
	    FINSB01_RAC,FINSB01_MSL10,FINSB01_MSL20,FINSB01_MSL30,FINSB01_MSL40,
	    FINSB02_RAC,FINSB02_MSL10,FINSB02_MSL20,FINSB02_MSL30,FINSB02_MSL40);

Dist1:DISTRIBUTION, DISTRIBUTION = "GUNGAUSSFLATTOPTH",
SIGMAX = 2*_SIGX_, SIGMAPX = 0.0, CORRX = 0.0,
SIGMAY = 2*_SIGY_, SIGMAPY = 0.0, CORRY = 0.0,
SIGMAT = 0.0, PT = 0.0, SIGMAPT = 0.0, CORRT = 0.0,
TRISE = _TRISE_, TFALL = _TFALL_, TPULSEFWHM = _TFWHM_,
EKIN = _EKIN_, NBIN = _NBIN_, DEBIN = _DEBIN_;

Fs1:FIELDSOLVER, FSTYPE=FFT, MX=_MX_, MY=_MY_, MT=_MT_, 
       PARFFTX=true, PARFFTY=true, PARFFTT=true,
       BCFFTX=open, BCFFTY=open, BCFFTT=open, 
       BBOXINCR=1, GREENSF=INTEGRATED;

if (USE_ET > 0) {
 beam1: BEAM, PARTICLE=ELECTRON, pc=P0, NSLICE=_NSLICE_, BFREQ=BFREQ, BCURRENT=BCURRENT, CHARGE=-1;	
 SELECT, LINE = l1;
 // Simulation of the gun with step size DTGUN
 TRACK, LINE=l1, BEAM=beam1, MAXSTEPS=1000000, DT=1.0e-13, ZSTOP=0.2;
  RUN, METHOD = "PARALLEL-SLICE", BEAM = beam1, FIELDSOLVER = Fs1, DISTRIBUTION = Dist1;
 ENDTRACK;

 // Simulation of the beam with step size DT 
 TRACK,line=l1, BEAM=beam1, MAXSTEPS=1000000, DT=1.0e-12, ZSTOP=_ZSTOP_;
  RUN, METHOD = "PARALLEL-SLICE", BEAM=beam1, FIELDSOLVER=Fs1;
 ENDTRACK;
}
else {
 beam1: BEAM, PARTICLE=ELECTRON, pc=P0, NPART=_NPART_, BFREQ=BFREQ, BCURRENT=BCURRENT, CHARGE=-1;	
 SELECT, LINE = l1;
 // Simulation of the gun with step size DTGUN
 TRACK, line=l1, BEAM=beam1, MAXSTEPS=1000000, DT=_DTGUN_, ZSTOP=_ZSTOPGUN_;
  RUN, METHOD = "PARALLEL-T", BEAM = beam1, FIELDSOLVER = Fs1, DISTRIBUTION = Dist1;
 ENDTRACK;

 // Simulation of the beam with step size DT 
 TRACK,LINE=l1, BEAM=beam1, MAXSTEPS=1000000, DT=_DT_, ZSTOP=_ZSTOP_;
  RUN, method = "PARALLEL-T", BEAM=beam1, FIELDSOLVER=Fs1;
 ENDTRACK;
}

QUIT;
